@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

:root {
    /* Hue Saturation Lightness */
	/* Primarios */
	--color-primary: hsl(202.82, 89.12%, 53.14%);
    --color-primary-hover: hsl(204, 78.51%, 47.45%);
    --color-danger: hsl(356.3, 90.56%, 54.31%);
	--color-danger-hover: hsl(356.53, 76%, 49.02%);

	/* Fondos */
	--bg-primary: hsl(210, 34.38%, 12.55%);
	--bg-primary-hover: hsl(208.57, 27.27%, 15.1%);

	/* Bordes */
	--border: hsl(205.71, 15.79%, 26.08%);

	/* Texto */
	--text-primary: hsl(180, 14.29%, 97.25%);
	--text-secondary: hsl(210, 12.62%, 65%);
	--text-inverse: hsl(210, 25%, 7.84%);

	/* Botones */
    --button-dark: hsl(210, 34.38%, 12.55%);
	--button-dark-hover: hsl(208.57, 20%, 20.59%);
	--button-light: hsl(192, 18.52%, 94.71%);
	--button-light-hover: hsl(192, 6.67%, 85.29%);
}

body {
	background-color: var(--bg-primary);
	color: var(--text-primary);
	font-family: "Segoe UI", sans-serif;
	font-size: 15px;
	margin: 0;
	padding: 0;
}

nav.nav-menu {
	position: fixed;
	display: flex;
	flex-direction: column;
	gap: 10px;
	top: 20px;
	left: 20px;
}

nav.nav-menu a {
    display: block;
    margin: auto;
	padding: 10px;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.2s ease;
}

nav.nav-menu a:hover {
    color: var(--color-primary);
	background-color: var(--button-dark-hover);
	transform: scale(1.1);
}

main {
	width: 600px;
	margin: 0 auto;
	padding: 0;
}

article {
	margin: 0;
	padding: 12px 16px;
	line-height: 20px;
	border: 1px solid var(--border);
	transition: all 0.2s ease;
}

article.show {
	margin: 30% 0;
    height: fit-content;
	padding: 12px 16px;
	line-height: 20px;
    text-align: center;
	border-radius: 10px;
    justify-items: center;
}

span.text-muted {
	color: var(--text-secondary);
}

div.resource-actions {
	margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
}

div.resource-actions--end {
    justify-content: flex-end;
}

div.resource-actions a,
div.resource-actions button {
	border: 1px solid var(--border);
	border-radius: 50px;
	padding: 6px 16px;
	transition: all 0.2s ease;
}

div.resource-actions .btn-delete {
	color: var(--color-danger);
}

div.resource-actions .btn-save:hover {
    color: var(--text-inverse);
    background-color: var(--text-primary);
}

div.resource-actions .btn-cancel:hover {
    background-color: var(--bg-primary-hover);
}

div.resource-actions a:hover {
	background-color: var(--color-primary);
}

div.resource-actions button:hover {
	cursor: pointer;
}

div.resource-actions .btn-delete:hover {
	background-color: var(--color-danger-hover);
    color: var(--text-primary);
}

div.resource-actions .cancel:hover {
	background-color: var(--bg-primary-hover);
}

form.resource-form {
    margin: 25% 0;
    height: fit-content;
	padding: 12px 16px;
    border: 1px solid var(--border);
	border-radius: 10px;
	line-height: 20px;
    justify-items: center;
    display: flex;
    flex-direction: column;
}

form label {
    font-size: large;
}

form input {
    width: 100%;
    margin-top: 0.4rem;
    margin-bottom: 1rem;
    font-size: x-large;
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 10px;
    outline: none;
    transition: all 0.4s ease;
}

form input:focus {
    border: 1px solid var(--color-primary);
}

form textarea {
    display: inline-block;
    height: 200px;
    margin-top: 0.4rem;
    font-size: large;
    border: 1px solid var(--border);
    overflow: hidden;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    transition: all 0.4s ease;
}

form textarea:focus {
    border: 1px solid var(--color-primary);
}

p.error-message {
    float: inline-end;
    color: var(--color-danger);
}

button.btn-login {
	padding: 12px 16px;
	margin-top: 0.4rem;
	background-color: var(--color-primary);
	border: 1px solid var(--border);
	border-radius: 50px;
	transition: all 0.2s ease;
}

button.btn-login:hover {
	cursor: pointer;
	color: var(--color-primary);
	background-color: var(--button-light-hover);
}

form.login {
    margin: 25% 0;
    height: fit-content;
	padding: 12px 16px;
    border: 1px solid var(--border);
	border-radius: 10px;
	line-height: 20px;
    justify-items: center;
    display: flex;
    flex-direction: column;
}

.auth-text {
    margin-top: 0.4rem;
}

a {
    color: var(--color-primary);
    text-decoration: none;
    transition: all 0.2s ease;
}

a:hover {
    color: var(--color-primary-hover);
}

footer {
	position: fixed;
	bottom: 0;
	margin-bottom: 10px;
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: large;
}